body, html {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
}


#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}


.overlay {
    background: rgba(10, 20, 50, 0.75);
    min-height: 100vh;
    padding: 25px;
}


h1, h2 {
    text-align: center;
    color: #e3f2fd;
}


input, select {
    padding: 10px;
    margin: 6px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #000;
}


button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, #7f00ff, #e100ff);
    transform: scale(1.1);
}

table {
    width: 85%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(255,255,255,0.1);
}

th, td {
    border: 1px solid rgba(255,255,255,0.3);
    padding: 12px;
    text-align: center;
}

thead {
    background: rgba(0,0,0,0.6);
}

tbody tr:nth-child(even) {
    background: rgba(33,150,243,0.25);
}

tbody tr:nth-child(odd) {
    background: rgba(156,39,176,0.25);
}

tbody tr:hover {
    background: rgba(255,255,255,0.35);
    color: #000;
}


