h1{
    text-align: center;
    color: black;
    border:Inset;
    border-radius: 18px;
    border-color: rgb(72, 149, 212); 
    border-width: 15px;
    background-color: rgb(161, 187, 210);
    padding: 30px 0;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1px;
 }

h2:hover{
    text-align: left;
    color: black;
    list-style-type:square;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    font-style: italic;
    font-size: 2.5em;

}    
    
p{
   text-align: justify;
   color:black;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-right: 50px;
   padding-left: 50px;
   font-family: black serif;
   font-style:italic
} 

body{
        /* background-color: slategray; */
    background-image:url("https://marketplace.canva.com/EAGS_qOXjpI/1/0/1600w/canva-blue-and-purple-gradient-background-instagram-post-wE1uA0M0RPU.jpg");
              
    background-size: cover;            
    background-position: center;      
    background-repeat: no-repeat;     
    background-attachment: fixed;      
    }
 



table{
     width: 100%;
     border-collapse: collapse;
     margin: 30px 0;
     font-size: 1em;
    }

table, th, td {
            border: 1px solid #a6c7ea;
        }

        th {
            background-color: #7e8be4;
            color: rgb(18, 18, 19);
            padding: 10px;
        }

        td {
            padding: 10px;
            text-align: center;
        }
        tr:nth-child(odd)
        {
            background-color: #ae90de;
        }
        tr:nth-child(even)
        {
            background-color:rgb(156, 40, 210);
        }
        tr:hover{
            background-color: rgb(240, 161, 222);
            transform:scale(1.25);
        }

form {
            background-color: #bbc0c0;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
    }

form h2{
            text-align: center;
            color: #0078d7;
        }

label{
            display: block;
            margin: 10px 0 5px;
            font-weight: 600;
     }

input, select, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #3e7782;
            border-radius: 5px;
            font-size: 1em;
        }

input[type="submit"] {
            background-color: #0078d7;
            color: white;
            border: none;
            margin-top: 15px;
            cursor: pointer;
            transition: 0.3s;
        }

input[type="submit"]:hover {
            background-color: #005bb5;
            transform:scale(1.1);
        }

        
h2:hover {
transform: translateX(10px);
transition: 0.3s ease;
}
      
hr {
    margin: 30px 0;
    height: 2px;
    border: none;
    background-color: #a6c7ea;
}




button#freezeBtn {
    width: 100%;
    padding: 10px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}


button#freezeBtn:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

button#freezeBtn:disabled {
    background-color: gray;
    cursor: not-allowed;
    transform: none;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f4f7;
    color: #3b495e;
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.5;
    padding: 50px 30px;
}

.sf-countdown {
    text-align: center;
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
}
.sf-countdown .title {
    margin: 0 0 15px;
    font-size: 24px;
    margin-bottom: 20px;
}
.sf-countdown .countdown-item {
    display: inline-block;
    margin: 7px;
    padding: 15px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    min-width: 90px;
}
.sf-countdown .countdown-item .number {
    font-size: 40px;
  
    color: #a4242d;
}
.sf-countdown .countdown-item .label {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}




#modeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1000;
}

#modeToggle:hover {
    background-color: #005bb5;
}


body.dark-mode {
    background-image: none;
    background-color: #7ac0de;
    color: #141414;
}

body.dark-mode h1,
body.dark-mode h2 {
    color: #121212;
}


body.dark-mode p {
    color: #151515;
}


body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    border-color: #6777ef;
}

body.dark-mode th {
    background-color: #64aff0;
}

body.dark-mode tr:nth-child(odd),
body.dark-mode tr:nth-child(even) {
    background-color: #bd36f3;
}


body.dark-mode form {
    background-color: #49c2f1;
    border-color: #b1b7f0;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
    background-color: #7d7f81;
    color: white;
    border: 1px solid #8f9294;
}


body.dark-mode .sf-countdown {
    background-color: #e6eaec;
    color: white;
}
