 
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -2;
}


.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}


body {
    font-family: Arial, sans-serif;
    color: #fff;
}

.intro {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 10px;
}


.club-card {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.4s, box-shadow 0.4s;
}


.club-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px cyan;
}

.club-card h3::after {
    color: cyan;
}


input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 10px cyan;
}





.story-card {
    background: rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 15px;
    transition: 0.4s;
}


.story-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px cyan;
}


.story-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.story-card p::first-letter {
    font-size: 22px;
    color: cyan;
}


input:focus, textarea:focus {
    box-shadow: 0 0 10px cyan;
}

